body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 200%;
    padding: 5%;
}

.half-width img {
    width: 110%;
}

p {
    width: 100%;
    padding: 5px;
}